fastapi
uvicorn[standard]
countrydetails
python-dotenv
google-generativeai
wikipedia
langchain_core
langchain-google-genai
langchain
langchain-community
langchain-openai
googlemaps
langchain-google-vertexai
overpy
geopy
sqlalchemy
mysql-connector-python
